body {
  display: grid;
  justify-content: center;
  justify-items: center;
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

#game > div {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  margin: 5px;
  display: inline-block;
  opacity: 0;
  background-position: center;
  background-size: cover;
  transition: opacity 1s ease-in-out;
}

#game > .reveal {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.hide {
  opacity: 0;
  transition: opacity 0.5s linear;
}